
#content{
    display: flex;
    justify-content: center;
}
.izq{
    height: 25vh;
    flex-grow: 1;
    overflow-y: scroll;
    direction: rtl;
}
.elemento1{
 background-color: green;
}
.elemento2{
background-color: yellow;
}
.elemento3{
background-color: red;
}
.elemento1, .elemento2, .elemento3{
    height: 10vh;
}
.der{
    flex-grow: 1;
    background-color: purple;
}

@media (min-width: 640px) {
    #content{
        display: none;
        display: flex;
        flex-direction: column;
    }
 }